<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>New Profile Test</title>
<link rel="stylesheet" href="../styles/metro.css">
<style type="text/css">
	body{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.metro #name:hover{
	text-decoration:underline;
}
</style>
</head>

<body>
	
	<div class="metro" style="width:620px">
	
		<div style="float:left;clear:right">
		<div id="tile">
			<p id="name" style="margin:0px;font-weight:normal;"><a href="profile.php" style="text-decoration:none;color:white">Chris Smith</a></p>
			<i style="font-size:small" id="name"><a href="department.php?id=1" style="text-decoration:none;color:white">Learning Technologies Unit</a></i>
		</div>
		<div id="small-long">Request Training</div>
		<div id="small-long">Support Request</div>
		</div>
		<div style="float:left;clear:right">
		<div id="small-long">Contact Your Support Officer</div>
		<div id="small-long">Notifications</div>
	</div>
	</div>
	
</body>

</html>
