vti_encoding:SR|utf8-nl
vti_author:SR|STUDENT\\c.smith
vti_modifiedby:SR|STUDENT\\c.smith
vti_timelastmodified:TR|28 May 2012 12:00:41 -0000
vti_timecreated:TR|22 Mar 2012 16:10:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 May 2012 12:21:59 -0000
vti_cacheddtm:TX|28 May 2012 12:00:41 -0000
vti_filesize:IR|2292
vti_cachedlinkinfo:VX|S|https://www.barnsley-ltu.co.uk/img/admin_wrap_around.png
vti_cachedsvcrellinks:VX|NSSS|https://www.barnsley-ltu.co.uk/img/admin_wrap_around.png
