vti_encoding:SR|utf8-nl
vti_author:SR|STUDENT\\c.smith
vti_modifiedby:SR|STUDENT\\c.smith
vti_timelastmodified:TR|10 Apr 2012 09:50:31 -0000
vti_timecreated:TR|28 Feb 2012 11:46:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|buttons.php
vti_nexttolasttimemodified:TW|10 Apr 2012 09:47:37 -0000
vti_cacheddtm:TX|10 Apr 2012 09:50:31 -0000
vti_filesize:IR|1322
vti_cachedlinkinfo:VX|S|https://s-static.ak.fbcdn.net/rsrc.php/v1/yZ/r/l_kYQEMzvfA.png
vti_cachedsvcrellinks:VX|NSSS|https://s-static.ak.fbcdn.net/rsrc.php/v1/yZ/r/l_kYQEMzvfA.png
