vti_encoding:SR|utf8-nl
vti_author:SR|STUDENT\\c.smith
vti_modifiedby:SR|STUDENT\\c.smith
vti_timelastmodified:TR|25 Apr 2012 10:44:03 -0000
vti_timecreated:TR|23 Apr 2012 14:25:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|25 Apr 2012 10:43:07 -0000
vti_cacheddtm:TX|25 Apr 2012 10:44:03 -0000
vti_filesize:IR|1210
vti_cachedlinkinfo:VX|S|../img/messageinbox.png S|../img/messagesent.png
vti_cachedsvcrellinks:VX|FSUS|img/messageinbox.png NSUS|img/messagesent.png
