vti_encoding:SR|utf8-nl
vti_author:SR|STUDENT\\c.smith
vti_modifiedby:SR|STUDENT\\c.smith
vti_timelastmodified:TR|28 Mar 2012 08:50:21 -0000
vti_timecreated:TR|01 Feb 2012 11:40:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|dev/account.php errors/thread_error.php reporting/admin/index.php reporting/student.php windows/new_note.php reporting/index.php tests/messaging.php
vti_nexttolasttimemodified:TW|13 Feb 2012 12:41:31 -0000
vti_cacheddtm:TX|28 Mar 2012 08:50:21 -0000
vti_filesize:IR|319
vti_cachedlinkinfo:VX|S|PIE.php
vti_cachedsvcrellinks:VX|NSUS|styles/PIE.php
