vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 May 2012 14:48:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_modifiedby:SR|STUDENT\\c.smith
vti_author:SR|STUDENT\\c.smith
vti_nexttolasttimemodified:TW|31 May 2012 13:19:45 -0000
vti_timecreated:TR|31 May 2012 12:08:54 -0000
vti_cacheddtm:TX|31 May 2012 13:19:45 -0000
vti_filesize:IR|82
